{{ form(form) }}
<br/>
{% if context.previousStep  %}
    <a href="{{ path('sylius_flow_display', {'scenarioAlias': 'user', 'stepName': context.previousStep}) }}" class="btn btn-success">
        <i class="icon-backward icon-white"></i> back
    </a>
{% endif %}
<a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'user', 'stepName': context.nextStep}) }}" class="btn btn-success">
    forward <i class="icon-forward icon-white"></i>
</a>