{% extends '::base.html.twig' %}

{% block content %}
    <form method="post" action="{{ path('sylius_flow_forward', {
        'scenarioAlias': 'user',
        'stepName': context.currentStep.name}) }}">
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
        {% if context.previousStep  %}
            <a href="{{ path('sylius_flow_display', {'scenarioAlias': 'user', 'stepName': context.previousStep.name}) }}" class="btn btn-success">
                Back
            </a>
        {% endif %}
        <button type="submit" class="btn">
            {{ context.nextStep ? 'Next' : 'Save' }}
        </button>
    </form>
{% endblock %}